* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

}

header {
    background-color: #ffffff;
    background-image: url(../img/img-main.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

p {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;

    color: #000000;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    
    color: #000000;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 27px;

    color: #000000;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;


    color: #000000;
}

ul {
    display: block;
    padding: 0px;
    margin: 0px;
}

li {
    display: block;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.header__nav__container {
    width: 85%;
    margin: 0px auto;
}


/*********************BUTTONS**********************/

.btn-color {
    background-color: #0063DD;
    border-radius: 25px;
    width: 165px;
    height: 50px;
    color: #ffffff;
    border-color: #0063DD;
    border-style: none;
}

.btn-color:hover {
    background-color: #0758bb;
    transition: .2s;
}

.btn-nocolor {
    border-color: #0063DD;
    background: transparent;
    border-radius: 25px;
    width: 165px;
    height: 50px;
    color: #0063DD;
    box-shadow: none;

}

.btn-nocolor:hover {
    background-color: #0063DD;
    color: #ffffff;
    transition: .2s;
}

/********************HEADER**********************/

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header__nav__menu {
    display: flex;
    align-items: center;
}

.header__nav__menu ul {
    display: flex;
    align-items: center;
}

.header__nav__logo {
    display: flex;
    
}

.header__nav__logo span {
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    list-style: 45px;

    color: #ffffff;

    background: #0F7BFF;
    border-radius: 0px 0px 21.5px 21.5px;
    padding: 25px 23px 32px;
}

.header__nav__menu__items a {
    font-size: 16px;
    font-weight: 500;
    font-style: 20px;
    color: #929292;
    text-transform: uppercase;

    padding-right: 52px;
}

.header__nav__menu__items a:hover {
    color: #0063DD;
}

a.active-menu {
    color: #0F7CFF;
}

.header_main_content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header_main_content__text h1 {
    padding: 60px 0px 30px;
}

.header_main_content__text p {
    padding-bottom: 33px;
}

.header_main_content__btns {
    display: flex;
    justify-content: space-around;
}
/**/

.header_main_content__img {
    padding: 70px 0px 0px;
    overflow: hidden;
    height: 598px;
    text-align: center;
}

/*********************ADVANTAGES********************/

.advantages {
    background: #F5FCFD;
    padding: 165px 0px 180px;
}

.advantages__content {
    justify-content: center;
    align-items: center;
}

.advantages__content__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 40px 0px;

    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
}

.advantages__content__box h2 {
    padding: 25px 0px;
}

/*********************FUNCTIONS********************/

.functions__messaging {
    justify-content: flex-start;
    align-items: center;
}

.functions__messaging__img {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 50px 0px;
}



.functions__messaging__img img {
    position: absolute;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}



.figure {
    position: relative;
    width: 389.71px;
    height: 482.98px;

    background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.functions p {
    padding: 30px 0px 35px;
}

.functions__toch {
    justify-content: flex-start;
    align-items: center;
}

.functions__toch__img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.figure_02 {
    position: relative;
    width: 389.71px;
    height: 482.98px;

    background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.functions__toch__img img {
    position: absolute;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

/*********************HOW WORK********************/

.how_work {
    background-color: #F5FCFD;
}

.how_work__text {
    padding: 119px 0px 25px 0px;
    text-align: center;
}

.how_work__item {
    text-align: center;
    padding: 45px 0px 137px;
}

.create::before {
    content: "";
    border: 2px dashed #0F7BFF;
    position: absolute;
    width: 765px;
    height: 0px;
    left: 570px;
    top: 3005px;

}

.confirm {
    position: relative;
    z-index: 1;
}

.how_work__item h2 {
    padding: 30px 0px 20px 0px;
}

/*********************PRICING PLAN********************/

.pricing_plan {
    background-color: #ffffff;
    padding: 130px 0px;
}

.pricing_plan__container {
    align-items: center;
}

.pricing_plan__content {
    text-align: start;
}

.pricing_plan__content p {
    padding: 30px 0px 40px 0px;
}

.pricing_plan__btns {
    display: flex;
    justify-content: center;
}

.pricing_plan__btns button.btn-color {
    border-radius: 25px 0px 0px 25px;
    border: none;
}

.pricing_plan__btns button.btn-nocolor {
    border-radius: 0px 25px 25px 0px;
}

.pricing_plan-box {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
}

.pricing_plan-box:hover {
    border: 1px solid;
    border-color: #0063DD;
}

.pricing_plan-box h3 {
    padding: 20px 0px 25px;
}

.pricing_plan-box span {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #0F7BFF;
}

span.doll {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;

    color: #0F7BFF;
}

hr {
    width: 50%;
    border: 2px solid #E9F3F8;
    margin: 0 25% 0 25%;
}

.pricing_plan-box img {
    padding: 39px 0px 0px;
}

.pricing_plan-box button {
   margin: 20px 0px 30px;
}

/*********************PAGINATION PAGE********************/

.pagination-page {
    background: #F5FCFD;
}

.pagination-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pagination-page__content h1 {
    padding: 40px 0px;
}

.pagination-page__box {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;


    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
    border-radius: 5px;
}

.pagination-page__box p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #999999;
}

.pagination-page__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pagination-page__text span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    padding-bottom: 25px;


    color: #999999;
}



.twitter-logo {
    align-self: flex-end;
}

.pagination {
    margin: 37px 0px;
}

/*********************NEWS********************/

.news-page {
    background: #ffffff;
}

.news-page__heading {
    text-align: center;
}

.news-page__heading h1 {
    padding: 130px 0px 25px;
}

.news-page__heading p {
    padding: 0px 0px 40px;
}


.news-page__main-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.news-page__main-content a {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 36px;

    color: #0063DD;
    text-decoration: none;
    padding: 25px 0px;
}



a.link {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    color: #0063DD;
    text-decoration: none;
}

.news-list {
    display: flex;
    flex-direction: column;
}

.news-box {
    display: flex;
    padding-bottom: 25px;
}

.news-box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 25px;
}

/*********************30 FREE DAYS********************/

.free_days {
    background: #F5FCFD;
}

.free_days_content {
    align-items: center;
}

.free_days_content h1 {
    padding: 133px 0px 25px;
}

.free_days_content p {
    padding: 0px 0px 113px 0px;
}

/*********************SUBSCRIBE PAGE********************/

.subscribe-page {
    background: #0F7BFF;
}

h1.subscribe-page_heading {
    text-align: center;

    color: #ffffff;
    padding: 118px 0px 30px;
}

.window_mail {
    width: 558px;
    height: 50px;

    background: #0063DD;
    border-radius: 25px 0px 0px 25px;
    border-style: solid;
    border-color: #0063DD;
    color: #ffffff;
    outline: none;
    padding-left: 20px;
}

::placeholder {
    color: #ffffff;
}

.subscribe-page__menu {
    display: flex;

    padding-bottom: 119px;
}

.subscribe_btn {
    background: #ffffff;
    border-radius: 0px 25px 25px 0px;
    border-style: solid;
    border-color: #ffffff;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #0063DD;
}

/*********************FOOTER********************/

footer {
    background: #0063DD;
    padding: 50px 0px;
}

.footer__content {
    justify-content: flex-start;
    align-items: center;
}

.footer__watermark span {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;

    color: #ffffff;
}

.footer__content__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__items a {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;
    text-decoration: none;

    color: #ffffff;
}

.footer__items a:not(:last-child) {
    padding-right: 35px;
}

.footer_social a {
    padding-right: 15px;
}