* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

}

header {
    background-color: #ffffff;
    background-image: url(../img/img-main.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

p {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;

    color: #000000;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    
    color: #000000;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 27px;

    color: #000000;
}

h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;


    color: #000000;
}

/*********************BUTTONS**********************/

.btn-color {
    background-color: #0063DD;
    border-radius: 25px;
    width: 165px;
    height: 50px;
    color: #ffffff;
    border-color: #0063DD;
}

.btn-color:hover {
    background-color: #0758bb;
    transition: .2s;
}

.btn-nocolor {
    border-color: #0063DD;
    background: transparent;
    border-radius: 25px;
    width: 165px;
    height: 50px;
    color: #0063DD;
    box-shadow: none;

}

.btn-nocolor:hover {
    background-color: #0063DD;
    color: #ffffff;
    transition: .2s;
}

.nav-logo {
    padding: 0px;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    width: 179px;
    height: 70px;
    margin-left: 136px;
    top: 0px;
    border-radius: 0px 0px 21.5px 21.5px;
    background-color: #0F7BFF;
    text-align: center;
}

.nav-bar-content:last-child {
    margin-right: 140px;
}

.nav-bar-content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav-bar-content li {
    margin-right: 30px;
}

.nav-menu {
    color: #929292;
}

.active-menu {
    color: #0F7CFF;
}

.btn-nav {
    text-transform: uppercase;
}

.header-main-content {
    margin: 100px 0px 0px;
    text-align: center;
}

.header-heading {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.header-text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    margin: 0px;
    padding: 30px 0px 0px;
}

.header-main-btns {
    margin: 0px;
    padding: 25px 0px 0px;
}

.btn-download {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    color: #ffffff;
    text-transform: none;
}

.btn-free-trial {
    background-color: transparent;
    color: #0F7BFF;
    text-transform: none;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
}

.btn-free-trial:hover {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    transition: .2s;
}

.header-main-phones {
    padding: 80px 0px 0px;
    overflow: hidden;
    height: 620px;
}

.phones {
    padding: 100px 0px 0px;

}

.advantages {
    background-color: #F5FCFD;
    padding: 165px 0px 185px;
}

.advantages-content {
    text-align: center;
    display: flex;
    align-items: center;
}

.advantages-box {
    background-color: #ffffff;
    width: 362px;
    height: 290px;
    padding: 30px 20px;
}

.box_design {
    margin-top: 50px;
}

.advantages-box h2 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
    color: #000000;
    margin: 20px 0px;
    padding: 0px 0px;
}

/*********************FUNCTIONS********************/
.functions {
    background-color: #ffffff;
}

.functions__content {
    justify-content: space-between;
    align-items: center;
    padding: 70px 0px;
}

.functions__content p {
    padding: 30px 0px 35px 0px;
}

.functions__content a {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    color: #0063DD;
    text-decoration: none;
}

.figure {
    position: absolute;
    width: 389.71px;
    height: 482.98px;
    background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.functions__img {
    position: relative;
}

.figure_02 {
    position: absolute;
    width: 389.71px;
    height: 482.98px;
    background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.content__touch-img {
    display: flex;
    justify-content: flex-end;
}

/*********************HOW WORK********************/

.how_work {
    background-color: #F5FCFD;
}

.how_work__text {
    padding: 119px 0px 25px 0px;
    text-align: center;
}

.how_work__item {
    text-align: center;
    padding: 45px 0px 137px;
}

.create::before {
    content: "";
    border: 2px dashed #0F7BFF;
    position: absolute;
    width: 765px;
    height: 0px;
    left: 570px;
    top: 3121px;

}

.confirm {
    position: relative;
    z-index: 1;
}

.how_work__item h2 {
    padding: 30px 0px 20px 0px;
}

/*********************PRICING PLAN********************/

.pricing_plan {
    background-color: #ffffff;
    padding: 130px 0px;
}

.pricing_plan__container {
    align-items: center;
}

.pricing_plan__content {
    text-align: start;
}

.pricing_plan__content p {
    padding: 30px 0px 40px 0px;
}

.pricing_plan__btns {
    display: flex;
    justify-content: center;
}

.pricing_plan__btns button.btn-color {
    border-radius: 25px 0px 0px 25px;
    border: none;
}

.pricing_plan__btns button.btn-nocolor {
    border-radius: 0px 25px 25px 0px;
}

.pricing_plan-box {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
}

.pricing_plan-box:hover {
    border: 1px solid;
    border-color: #0063DD;
}

.pricing_plan-box h3 {
    padding: 20px 0px 25px;
}

.pricing_plan-box span {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #0F7BFF;
}

span.doll {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;

    color: #0F7BFF;
}

hr {
    width: 50%;
    border: 2px solid #E9F3F8;
    margin: 0 25% 0 25%;
}

.pricing_plan-box img {
    padding: 39px 0px 0px;
}

.pricing_plan-box button {
   margin: 20px 0px 30px;
}

/*********************PAGINATION PAGE********************/

.pagination-page {
    background: #F5FCFD;
}

.pagination-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pagination-page__content h1 {
    padding: 40px 0px;
}

.pagination-page__box {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;


    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
    border-radius: 5px;
}

.pagination-page__box p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #999999;
}

.pagination-page__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pagination-page__text span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    padding-bottom: 25px;


    color: #999999;
}



.twitter-logo {
    align-self: flex-end;
}

.pagination {
    margin: 37px 0px;
}

/*********************NEWS********************/

.news-page {
    background: #ffffff;
}

.news-page__heading {
    text-align: center;
}

.news-page__heading h1 {
    padding: 130px 0px 25px;
}

.news-page__heading p {
    padding: 0px 0px 40px;
}


.news-page__main-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.news-page__main-content a {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 36px;

    color: #0063DD;
    text-decoration: none;
    padding: 25px 0px;
}



a.link {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    color: #0063DD;
    text-decoration: none;
}

.news-list {
    display: flex;
    flex-direction: column;
}

.news-box {
    display: flex;
    padding-bottom: 25px;
}

.news-box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 25px;
}

/*********************30 FREE DAYS********************/

.free_days {
    background: #F5FCFD;
}

.free_days_content {
    align-items: center;
}

.free_days_content h1 {
    padding: 133px 0px 25px;
}

.free_days_content p {
    padding: 0px 0px 113px 0px;
}

/*********************SUBSCRIBE PAGE********************/

.subscribe-page {
    background: #0F7BFF;
}

h1.subscribe-page_heading {
    text-align: center;

    color: #ffffff;
    padding: 118px 0px 30px;
}

.window_mail {
    width: 558px;
    height: 50px;

    background: #0063DD;
    border-radius: 25px 0px 0px 25px;
    border-style: solid;
    border-color: #0063DD;
    color: #ffffff;
    outline: none;
    padding-left: 20px;
}

::placeholder {
    color: #ffffff;
}

.subscribe-page__menu {
    display: flex;

    padding-bottom: 119px;
}

.subscribe_btn {
    background: #ffffff;
    border-radius: 0px 25px 25px 0px;
    border-style: solid;
    border-color: #ffffff;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #0063DD;
}
