*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    
}

header {
    background-color: #E5E5E5;
    background-image: url(../img/img-main.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-logo {
    padding: 0px;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    width: 179px;
    height: 70px;
    margin-left: 136px;
    top: 0px;
    border-radius: 0px 0px 21.5px 21.5px;
    background-color: #0F7BFF;
    text-align: center; 
}

.nav-bar-content:last-child {
    margin-right: 140px;
}

.nav-bar-content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav-bar-content li {
    margin-right: 30px;
}

.nav-menu {
    color: #929292;
}

.active-menu {
    color: #0F7CFF;
}

.btn-nav {
    text-transform: uppercase;
    color: #ffffff;
    border-color: #0063DD;
    background-color: #0063DD;
    border-radius: 25px;
    width: 165px;
    height: 50px;
}

.btn-nav:hover {
    border-color: #0758bb;
    background-color: #0758bb;
}

.header-main-content {
    margin: 100px 0px 0px;
    text-align: center;
}

.header-heading {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.header-text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    margin: 0px;
    padding: 30px 0px 0px;
}

.header-main-btns {
    margin: 0px;
    padding: 25px 0px 0px;
}

.btn-download {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    color: #ffffff;
    text-transform: none;
}

.btn-free-trial {
    background-color: transparent;
    color: #0F7BFF;
    text-transform: none;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
}

.btn-free-trial:hover {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
}

.header-main-phones {
    padding: 80px 0px 0px;
    overflow: hidden;
    height: 620px;
}

.phones {
    padding: 100px 0px 0px;
    
}

.advantages {
    background-color: #F5FCFD;
    padding: 165px 0px 185px;
}

.advantages-content {
    text-align: center;
    display: flex;
    align-items: center;
}

.advantages-box {
    background-color: #ffffff;
    width: 362px;
    height: 290px;
    padding: 30px 20px;
}

.box_design {
    margin-top: 50px;
}

.advantages-box h2 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
    color: #000000;
    margin: 20px 0px;
    padding: 0px 0px;
}
/*********************FUNCTIONS********************/
.functions {
    background-color: #E5E5E5;
}

.figure {
    position: absolute;
    width: 389.71px;
    height: 482.98px;
    background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.functions__img {
    position: relative;
}

/*.figure_02 {
    position: absolute;
    width: 389.71px;
    height: 482.98px;
    background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}*/







